html {
    font-size: 62.5%
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

ol, ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;

    background-color: hsl(0, 0%, 95%);
}

#root {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}