html {
    font-size: 62.5%
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

ol, ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;

    background-color: hsl(0, 0%, 95%);
}

#root {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.ais-SearchBox {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-block-start: 1.8rem;
}

.ais-SearchBox form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ais-SearchBox form > * {
    padding: 0.5rem;
}

.ais-SearchBox form input {
    font-size: 2rem;
}

.ais-SearchBox form button svg {
    inline-size: 2rem;
    block-size: 2rem;
}

.ais-Hits ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.ais-Hits ol li {
    inline-size: max(20%, 15rem);
}

.ais-Pagination ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    padding-block-end: 1.8rem;

    font-size: 2rem;
}

.ais-Pagination ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.25rem 0.5rem;

    border-radius: 0.25rem;
}

.ais-Pagination ul li.ais-Pagination-item--selected a {
    background-color: hsl(210, 100%, 40%);

    color: hsl(0, 0%, 100%);
}